name: Build

on: [push, pull_request]

jobs:
  build:
    runs-on: windows-2022

    steps:
      - name: Setup Open Watcom v2.0
        uses: open-watcom/setup-watcom@v0
        with:
          version: "2.0-64"

      - name: Set up Visual Studio shell
        uses: egor-tensin/vs-shell@v2
        with:
          arch: x86

      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Open Watcom environment
        run: |
          echo "INCLUDE=$env:WATCOM\H;$env:WATCOM\H\NT;$env:WATCOM\H\NT\DIRECTX;$env:WATCOM\H\NT\DDK;$env:INCLUDE" >> $env:GITHUB_ENV
          echo "EDPATH=$env:WATCOM\EDDAT" >> $env:GITHUB_ENV
          echo "WHTMLHELP=$env:WATCOM\BINNT\HELP" >> $env:GITHUB_ENV
          echo "WIPFC=$env:WATCOM\WIPFC" >> $env:GITHUB_ENV

      - name: Setup environment variables
        run: |
          echo "LIB386_PATH=$env:GITHUB_WORKSPACE\LIB386" >> $env:GITHUB_ENV
          echo "INCLUDE=$env:GITHUB_WORKSPACE\LIB386;$env:INCLUDE" >> $env:GITHUB_ENV

      - name: Print environment variables
        run: |
          echo "GITHUB_WORKSPACE: $env:GITHUB_WORKSPACE"
          echo "PATH: $env:PATH"
          echo "WATCOM: $env:WATCOM"
          echo "LIB386_PATH: $env:LIB386_PATH"
          echo "INCLUDE: $env:INCLUDE"

      - name: Build LBA0.exe
        run: |
          Push-Location "$env:GITHUB_WORKSPACE\SOURCES"
          wmake
          Pop-Location
          
      - name: Copy Community Text
        run: Copy-Item "$env:GITHUB_WORKSPACE\SOURCES\Assets\Text\*.csv" "$env:GITHUB_WORKSPACE\SOURCES"

      - name: Upload the build artifacts
        uses: actions/upload-artifact@v4
        with:
          name: lba1
          path: |
            SOURCES/LBA0.exe
            SOURCES/*.csv
